
body{
	background-color: rgb(243, 235, 218);
	overflow: hidden;
}


/* -------------------------CSS RESET START------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------CSS RESET END------------------------- */


/* -------------------------Title and Main------------------------- */

#aboutTitle{
	font-family: 'Noto Serif Display', sans-serif;
	color: #2C400C;
	font-size: 7rem;
	right: 2rem;
    bottom: 1rem;
    position: absolute;
}

@font-face {
    font-family: EscherGrotesk;
    src: url('./assets/fonts/[VIA_Studio]_EscherGrotesk/EscherGrotesk.ttf');
}


/* -------------------------Description------------------------- */

#desc{
	font-family: 'Noto Sans', sans-serif;
	color: #2C400C;
	font-size: 1.5rem;
	top: 2rem;
  left: 2rem;
  width: 40rem;
  position: fixed;
}


/* -------------------------Image------------------------- */
#itsme {
	margin-top: 2rem;
  margin-right: -50rem;
	height: 30rem;
	width: auto;
}	


/* -------------------------Block------------------------- */
.block {
    border-style: solid;
    border-color: #2C400C;
	bottom: 3rem;
    margin-left: 2rem;
    position: absolute;
    background-color: #2C400C;
    height: 25%;
    width: 45%;
    color: rgb(243, 235, 218);
    cursor: pointer;
    transition: 1s;
}	

.resume {
    position: relative;
    left: 39%;
    top: 37%;
    font-size: 3rem;
}

.block:hover {
    color:#2C400C;
    background-color: rgb(243, 235, 218);
    transition: 1s;
}