body{
	background-color: #000000;
	overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1456614329731-54fa01840c6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* -------------------------CSS RESET START------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------CSS RESET END------------------------- */






/* ----------------------------------General Formatting/Locations----------------------------------*/

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	height: 95vh;
	
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.buttons > * + * {
	margin-left: 1rem;
}





/* ----------------------------------Title and Line----------------------------------*/

#title{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 10rem;
}

#description{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 3rem;
}

#GitHubBtn {
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1rem;
	width: 6rem;
}

#LinkedInBtn {
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1rem;
	width: 6rem;
}

#WPBtn {
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1rem;
	width: 20rem;
}

#LinkedInBtn:hover, #GitHubBtn:hover, #WPBtn:hover {
	animation: color-change 5s infinite;
}

@keyframes color-change {
	0% {color:  #edaeae ; }
	8% {color:  #edd1ae ; }
	16% {color:  #ede5ae ; }
	24% {color:  #d6edae ; }
	32% {color:  #bcedae ; }
	40% {color:  #aeedd0 ; }
	48% {color:  #aeede5  ; }
	56% {color:   #aed9ed  ; }
	64% {color:   #aeb7ed  ; }
	72% {color:   #beaeed  ; }
	80% {color:   #e0aeed  ; }
	88% {color:  #edaed6  ; }
	100% {color:    #edaeae   ; }
}

@keyframes yellow-change {
	0% {color:  #FFFFFF ; }
	50% {color:  #FFFABE ; }
	100% {color:    #FFFFFF   ; }
}

/* ------------------------------------- About Button ------------------------------------- */
#AboutBtn {
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1rem;
	width: 6rem;
}

#AboutBtn:hover {
	animation: color-change 5s infinite;
}



/* -------------------------------Marquees-------------------------------- */

#top{
	color: #FFFFFF;
	font-size: 1.5rem;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	cursor: pointer;
}

.marquee {
	height: 3rem;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: none;
	border-top: 1px solid black;
	border-bottom: 0.4rem;
	padding: 0.2rem 0 1rem 0;
}

.marquee .track1{
	animation: marquee 20s linear infinite
}

.marquee .track2{
	animation: marquee 20s linear 5s infinite 
}

.marquee .track3{
	animation: marquee 20s linear 10s infinite
}

.marquee .track4{
	animation: marquee 20s linear 15s infinite
}


.marquee div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.marquee:hover div {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}