body{
	background-color: #FFFFFF;
	overflow-y: hidden;
}


/* -------------------------CSS RESET START------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------CSS RESET END------------------------- */





.main{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.main > * + * {
	margin-left: 1rem;
}

.titleContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#exp{
	font-family: 'Noto Serif Display', sans-serif;
	color: #000000;
	font-size: 7rem;
	writing-mode: vertical-rl;
	text-orientation: sideways-left;
	margin-left: 3rem;
}


/* ------------------------------------ Research ------------------------------------*/

.Research {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	margin-left: 3rem;
	margin-right: 1rem;
	
	background-image: url('assets/images/trim.png');
    background-size: cover;
	
}


#reseachtxt	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 4rem;
}

#reseachdesc	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 1.5rem;
	width: 30rem;
}



/* ------------------------------------ Personal Projects ------------------------------------*/

.PersonalProjects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	
	background-image: url('assets/images/persproj.png');
	
    background-size: cover;
	
}

#persproj{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 4rem;
}

#TheOnionOrNot {
	border: none;
	outline: none;
	background-color: transparent;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
	width: 30rem;
}

#TextGen {
	border: none;
	outline: none;
	background-color: transparent;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
	width: 30rem;
}

#BreakdancingFallingOver {
	border: none;
	outline: none;
	background-color: transparent;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
	width: 40rem;
}

/* ------------------------------------ Education ------------------------------------*/

.eduContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#edu{
	font-family: 'Noto Serif Display', sans-serif;
	color: #000000;
	font-size: 7rem;
	writing-mode: vertical-rl;
	text-orientation: sideways-left;
	margin-left: 3rem;
}

/* ------------------------------------ Virginia Tech ------------------------------------*/

.VTech {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	margin-left: 3rem;
	
	background-image: url('assets/images/vt.png');
    background-size: cover;
	
}

#VTechText	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 4rem;
}

#VTechDesc	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 1.5rem;
	width: 30rem;
}


/* ------------------------------------ South Lakes High School ------------------------------------*/

.SLHS {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	
	background-image: url('assets/images/slhs.png');
    background-size: cover;
	
}

#SLHSText	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 4rem;
}

#SLHSDesc	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 1.5rem;
	width: 30rem;
}


#blank	{
	font-family: 'BenchNine', sans-serif;
	color: #FFFFFF;
	font-size: 1rem;
	width: 80rem;
}




/* -------------------------------Marquees-------------------------------- */

#top{
	color: #FFFFFF;
	font-size: 1.5rem;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	cursor: pointer;
}

.marqueeScroll {
	height: 3rem;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: none;
	border-top: 1px solid black;
}

.marqueeScroll .track1{
	animation: marquee 20s linear infinite
}

.marqueeScroll .track2{
	animation: marquee 20s linear 5s infinite 
}

.marqueeScroll .track3{
	animation: marquee 20s linear 10s infinite
}

.marqueeScroll .track4{
	animation: marquee 20s linear 15s infinite
}


.marqueeScroll div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

@keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}