body{
	background-color: #000000;
}


#title{
	font-family: "Georgia", Times, Serif;
	color: #FFFFFF;
	text-align: center;
	font-size: 50px;
}
div.titleContainer {
	height: 10em;
	position: flex;
	align-items: center;
}
div.titleContainer p {
	margin: 0;
	position: absolute;
	top: 45%;
	left: 50%;
}


#description{
	font-family: "Georgia", Times, Serif;
	color: #FFFFFF;
	text-align: center;
}
div.descContainer {
	height: 10em;
	position: flex;
	align-items: center;
}
div.descContainer p {
	margin: auto;
	position: absolute;
	top: 53%;
	left: 50%;
}

.Experience {
	height: 20px;
}
#ExperienceBtn {
	margin-top: 2rem;
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
}

.Contact {
	height: 20px;
}
#ContactBtn {
	margin-top: 2rem;
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
}
